apiVersion: v1
kind: ConfigMap
metadata:
  name: db-config
data:
  DB_URL: "jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require"
  DB_USER: "postgres.einaebrdojyexjjgsavr"